<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.qf.domain.User">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="login_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_pic" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="user_level" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>



  <resultMap id="userAll" type="com.qf.domain.User">

    <id column="id" property="id" />
    <result column="user_name"  property="userName" />
    <result column="login_name" property="loginName" />
    <result column="password" property="password"/>
    <result column="status" property="status" />
    <result column="user_pic" property="userPic" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="user_level" property="userLevel" />
    <association property="shopPic" resultMap="shopAll"></association>
  </resultMap>

  <resultMap id="shopAll" type="com.qf.domain.ShopPic">
    <id column="picid" property="id"></id>
    <result column="path" property="path"></result>
    <result column="status1" property="status"></result>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, login_name, password, status, user_pic, create_time, update_time, 
    user_level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="userAll">
  select u.*,s.status as status1 ,s.id as picid,s.path from user u LEFT OUTER JOIN shop_pic s ON u.user_pic = s.id where u.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.domain.User">
    insert into user (id, user_name, login_name, 
      password, status, user_pic, 
      create_time, update_time, user_level
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{userPic,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{userLevel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userPic != null">
        user_pic,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userLevel != null">
        user_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null">
        #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.domain.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null">
        user_pic = #{userPic,jdbcType=INTEGER},
      </if>
      <if test="createTime != null and createTime != ''">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null">
        user_level = #{userLevel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.domain.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      user_pic = #{userPic,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_level = #{userLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectUserByLoginName" parameterType="String" resultMap="BaseResultMap">
    select * FROM  user where login_name = #{name}
  </select>
  <select id="selectAll" parameterType="com.qf.domain.User" resultMap="userAll">
    select u.*,s.status as status1 ,s.id as picid,s.path from user u LEFT OUTER JOIN shop_pic s ON u.user_pic = s.id where 1=1
    <if test="userName!=null and userName!=''">
      and u.user_name =#{userName}
    </if>
    <if test="loginName!=null and loginName !=''">
      and u.login_name=#{loginName}
    </if>
    limit #{startRow},#{endRow}
  </select>
  <select id="selectCount" resultType="int">
    select count(*) from user
  </select>
</mapper>